<div class="container" ng-controller="indexController">
    <p></p>
    <h1>Техническое обслуживание</h1>
    <p></p>
    <h3>Список объектов техобслуживания</h3>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <!--            <td>ID</td>-->
            <td>Регион</td>
            <td>Район</td>
            <td>Улица</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in streets">
<!--            <td>-->
<!--                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Регион">-->
<!--                <datalist id="datalistOptions">-->
<!--                    <option value='p.regionesTitle'>-->
<!--                    <option value={{p.regionesTitle}}>-->
<!--                    <option value={{p.regionesTitle}}>-->
<!--                    <option value={{p.regionesTitle}}>-->
<!--                    <option value={{p.regionesTitle}}>-->
<!--                </datalist>-->
<!--            </td>-->
            <select class="form-select" aria-label="Default select example">
                <option selected>Выбать регион</option>
                <option ng-repeat="p in regiones">{{p.title}}</option>
            </select>
            <td>{{p.regionesTitle}}</td>
            <td>{{p.districtTitle}}</td>
            <td>{{p.title}}</td>
            <!--            <td>{{p.id_district}}</td>-->
            <!--            <td>{{p.street}}</td>-->
            <td>
                <button class="btn btn-danger" ng-click="deleteStreet(p.id)">Удалить</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <h3>Добавить объект</h3>
    <p></p>
    <form class="row g-3" ng-submit="createNewStreet()">
        <div class="col-auto">
            <input type="text" class="form-control" id="newStreetTitle" ng-model="newProduct.title" placeholder="Улица">
        </div>
        <div class="col-auto">
            <input type="number" class="form-control" id="newStreetHouse" ng-model="newStreet.house" placeholder="Дом">
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="newStreetFrame" ng-model="newStreet.frame" placeholder="Корпус">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Создать</button>
        </div>
    </form>
</div>
<!--</body>-->
<!--</html>-->